*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background: #232336;
  padding: 0px 2rem 0rem 2rem;
}

header {
  background-color: #161626;
  height: 11.5rem;
  max-width: 172rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 36px;
  padding: 4.3rem 10rem 4.3rem 10rem;
  position: relative;
  position: sticky;
  top: 30px;
  z-index: 1000;
  flex-direction: row-reverse;
}

.header_opties_container {
  display: flex;
  gap: 4rem;
  border-bottom-right-radius: 36px;
  border-bottom-left-radius: 36px;
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header_optie {
  color: #c1c1c1;
  font-size: 2.3rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
}

.header_optie_contact {
  display: none;
}

.header_optie_actief,
.header_optie:hover {
  color: white;
  border-bottom: 2px solid white;
}

.header_button {
  background-color: #2196f3;
  color: white;
  padding: 2.6rem 6.3rem;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  font-size: 2.3rem;
  transition: all 0.3s;
  height: 7.1rem;
  width: 20.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.header_button:hover {
  background-color: #1976d2;
}

.hero_sectie {
  margin-top: 10rem;
  width: 100%;
  height: 54.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: white;
}

body:not(#__) .hero_container_responsive {
  display: none;
}

.hero_container_titels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 5rem;
}

.hero_container_profielfoto {
  width: 70%;
  border-radius: 50%;
}

.hero_container_title {
  margin-right: 20rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

.hero_container_title:nth-child(2) {
  margin-right: 15rem;
  animation-delay: 0.5s;
}

.hero_container_title:nth-child(3) {
  margin-right: 0rem;
  animation-delay: 1s;
}

.hero_container_titels-rechts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero_container_title-rechts {
  margin-left: 20rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

.hero_container_title-rechts:nth-child(2) {
  margin-left: 15rem;
  animation-delay: 0.5s;
}

.hero_container_title-rechts:nth-child(3) {
  margin-left: 0rem;
  animation-delay: 1s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0%,
  12.5%,
  25%,
  100% {
    transform: scale(1);
  }
  6.25%,
  18.75% {
    transform: scale(1.05);
  }
}

.header_button {
  animation: pulse 15s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero_container_title,
.hero_container_title-rechts,
.hero_container img {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 42px;
  z-index: 1001;
}

.hamburger-menu span {
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 10px;
}

.header_opties_container.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  background-color: #161626;
  padding: 2rem;
  align-items: center;
}

header.menu-open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.hero_container_responsive_button {
  display: none;
}

.bedankt-container {
  max-width: 65rem;
  margin: 0 auto;
  margin-top: 35px;
  padding: 4rem;
  text-align: center;
  background-color: #161626;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #c1c1c1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bedankt-container h1 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.bedankt-container p {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  color: #c1c1c1;
  font-family: "Inter", sans-serif;
}

.bedankt-container .button {
    background-color: #297DBF; 
    color: white;
    width: 15rem; 
    height: 4.5rem; 
    font-size: 2rem;
    padding: 1rem 9rem 1rem 9rem;
    border: none; 
    border-radius: 36px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer; 
    opacity: 1;
    text-decoration: none;  
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }

.bedankt-container .button:hover {
  background-color: #1976d2;
}

.contactpagina_main {
  padding: 0 10rem 0 10rem;
}

.contactpagina {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  flex-direction: row;
  gap: 12.7rem;
  flex-wrap: wrap;
}

.contactpagina-half {
  width: 40%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.5rem;
  margin-top: 30px;
}

.contactpagina-half-1 {
  width: 60.1rem;
  height: 69.1rem;
  border-radius: 36px;
  background: #161626;
  padding: 3rem 4.3rem 3rem 4.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.2s;
}

.contactpagina-half-1 .contactformulier_wrapper:nth-child(1) {
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.4s;
}

.contactpagina-half-1 .contactformulier_wrapper:nth-child(2) {
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.6s;
}

.contactpagina-half-1 .contactformulier_wrapper:nth-child(3) {
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.8s;
}

.contactpagina-half-1 .contactformulier_button {
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 1s;
}

.formtop {
  width: 100%;
  height: 6.3rem;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
}
.formtop_title {
  font-size: 3.8rem;
  font-family: "Inter", sans-serif;
  color: white;
}

.formmid {
  width: 100%;
  height: 49.7rem;
  display: flex;
  flex-direction: row;
}

.contactformulier {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.contactformulier_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 0;
}

.contactformulier_titel {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  color: white;
  padding-left: 1.2rem;
  margin-bottom: 1rem;
}

.contactformulier_input {
  width: 100%;
  height: 7.5rem;
  border-radius: 36px;
  padding: 2.4rem 1rem 2.4rem 4.3rem;
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  background: #232336;
  border-color: transparent;
  color: white;
  outline: none;
}

.contactformulier_bericht {
  height: 13.5rem;
  resize: none; 
  white-space: pre-wrap; 
  word-wrap: break-word; 
  scrollbar-color: #888 #f0f0f0;
}

textarea::-webkit-scrollbar {
  width: 8px;
}
textarea::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contactformulier_button {
  background-color: #297DBF; 
  color: white;
  width: 25rem; 
  height: 5.2rem; 
  font-size: 2.4rem;
  padding: 1rem 9rem 1rem 9rem;
  font-weight: bold;
  border: none; 
  border-radius: 36px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  cursor: pointer; 
  text-align: center;
  opacity: 0;
}

.contactformulier_button:hover {
  background-color: #1e5f8f; 
}

#loading-animation {
  width: 100%;
  height: 150px;
  transform: translate(0%, -35%);
}

.contact-opties {
  background: #161626;
  width: 61rem;
  height: 15.3rem;
  border-radius: 36px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
  transition: all 0.3s ease;
}

.contact-opties:hover {
  background: #1e1e2e; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
  transform: translateY(-5px);
  cursor: pointer;
}

.contact_opties_wrapper {
  display: flex;
  align-items: center;
  font-size: 2.6rem;
  font-family: "Inter", sans-serif;
  gap: 1.5rem;
}

.contact_opties_logo {
  width: 12.5rem;
  height: 12.5rem;
}

.arrow-icon {
  width: 50px;
  height: 50px;
  position: relative;
}

.arrow-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15%; 
  width: 28px; 
  height: 28px;
  border-right: 6px solid white; 
  border-top: 6px solid white; 
  transform: translate(-50%, -50%) rotate(45deg);
}

.contactpagina-half a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.contactpagina-half article {
  cursor: pointer;
}

.contact-opties {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}

.contactpagina-half a:nth-child(1) .contact-opties {
  animation-delay: 0.2s;
}

.contactpagina-half a:nth-child(2) .contact-opties {
  animation-delay: 0.4s;
}

.contactpagina-half a:nth-child(3) .contact-opties {
  animation-delay: 0.6s;
}



/* Responsive Design Home*/

@media (max-width: 1761px) {
  .hero_container_titels {
    font-size: 4rem;
  }
  .hero_container_profielfoto {
    width: 80%;
  }
}

/* Extra Large Screens (Desktops and Monitors) */
@media (max-width: 1400px) {
  header {
    justify-content: flex-start;
    max-width: 120rem;
  }
  .header_button {
    width: 18.6rem;
    height: 5.5rem;
  }
  .header_opties_container {
    left: 45%;
  }
  .hero_sectie {
    display: none;
  }
  .hero_container {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  body:not(#__) .hero_container_responsive {
    display: flex;
  }

  .hero_container_profielfoto {
    width: 35%;
  }

  .hero_tekst_container_responsive {
    width: auto;
    padding-left: 3rem;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 4rem;
  }

  .hero_tekst_container_responsive_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .hero_container_title_responsive {
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
  }

  .hero_container_title_responsive:nth-child(1) {
    animation-delay: 0.2s;
  }

  .hero_container_title_responsive:nth-child(2) {
    animation-delay: 0.4s;
  }

  .hero_container_title_responsive:nth-child(3) {
    animation-delay: 0.6s;
  }

  .hero_container_title_responsive:nth-child(4) {
    animation-delay: 0.8s;
  }

  .hero_container_title_responsive:nth-child(5) {
    animation-delay: 1s;
  }

  .hero_tekst_container_responsive
    .hero_container_title_responsive-boven:nth-child(2) {
    margin-left: 30px;
  }

  .hero_tekst_container_responsive
    .hero_container_title_responsive-boven:nth-child(3) {
    margin-left: 60px;
  }

  .hero_tekst_container_responsive
    .hero_container_title_responsive-onder:nth-child(1) {
    margin-left: 60px;
  }
}

@media (max-width: 1250px) {
  header {
    max-width: 110rem;
  }
  .header_opties_container {
    display: flex;
    gap: 4rem;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
  }
}

/* Large Screens (Laptops) */
@media (max-width: 1024px) {
  header {
    padding: 4.3rem 5rem 4.3rem 5rem;
  }
  .header_button {
    padding: 2.6rem 4.3rem;
  }
  .header_opties_container {
    gap: 2rem;
    left: 35%;
  }
  .header_optie {
    font-size: 1.9rem;
  }
}

@media (max-width: 973px) {
  .hero_tekst_container_responsive {
    font-size: 2.8rem;
  }
}

/* Medium Screens (Tablets) */
@media (max-width: 768px) {
  .header_button {
    display: none;
  }
  .header_opties_container {
    display: none;
  }
  .header_optie_contact {
    display: flex;
  }
  header {
    height: 6rem;
  }
  .hamburger-menu {
    display: flex;
    top: 30px;
  }
  .header_opties_container.active {
    left: 50%;
  }

  .hero_container_responsive {
    margin-top: 30px;
    gap: 0px;
    flex-direction: column;
  }
  .hero_tekst_container_responsive {
    padding: 0px;
  }
  .hero_container_title_responsive {
    font-size: 3.9rem;
    text-align: center;
  }
  .hero_container_title_responsive-onder {
    font-size: 3rem;
  }
  .hero_container_responsive_button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero_tekst_container_responsive
    .hero_container_title_responsive-boven:nth-child(2) {
    margin-left: 0px;
  }

  .hero_tekst_container_responsive
    .hero_container_title_responsive-boven:nth-child(3) {
    margin-left: 0px;
  }

  .hero_tekst_container_responsive
    .hero_container_title_responsive-onder:nth-child(1) {
    margin-left: 0px;
  }

  .hero_container_profielfoto {
    width: 30rem;
    margin-bottom: 3rem;
  }

  .hero_container_responsive_button {
    background: #2196f3;
    height: 5.8rem;
    width: 22.5rem;
    border-radius: 24px;
    color: white;
    font-size: 1.8rem;
    padding: 1.8rem 1.3rem 1.8rem 1.3rem;
    border: 0px solid transparent;
    margin-bottom: 3rem;
  }
}
